---
# vars for yamtrack
yamtrack_url: "https://{{ yamtrack_domain }}"
yamtrack_socialaccount_providers: >
  {
    "openid_connect": {
      "APPS": [
        {
          "provider_id": "{{ yamtrack_auth_provider_pocketid }}",
          "name": "id.catboy.house",
          "client_id": "{{ yamtrack_auth_client_id }}",
          "secret": "{{ yamtrack_auth_client_secret}}",
          "settings": {
            "server_url": "{{ pocketid_wellknown_url }}"
          }
        }
      ]
    }
  }
