# see https://docs.searxng.org/admin/settings/settings.html#settings-use-default-settings
use_default_settings: true
server:
  secret_key: "{{ search_secret }}"
  limiter: true
  image_proxy: true
  public_instance: true
ui:
  static_use_hash: true
valkey:
  url: valkey://valkey:6379/0
