[defaults]
vault_password_file = .vault_password
fact_caching = ansible.builtin.jsonfile
fact_caching_connection = .fact-cache
display_skipped_hosts = no

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30s
