---
# defaults file for roles/seedbox
seedbox_service_directory: seedbox
seedbox_service_path: "{{ services_path }}/{{ seedbox_service_directory }}"
seedbox_volume_qbittorrent: "{{ seedbox_service_path }}/volumes/qbittorrent"
seedbox_volume_gluetun: "{{ seedbox_service_path }}/volumes/gluetun"
seedbox_volume_slskd: "{{ seedbox_service_path }}/volumes/slskd"
seedbox_container_prefix: seedbox
seedbox_qbittorrent_container_name: "{{ seedbox_container_prefix }}-qbittorrent"
seedbox_gluetun_container_name: "{{ seedbox_container_prefix }}-gluetun"
seedbox_slskd_name: "{{ seedbox_container_prefix }}-slskd"
seedbox_network_name: seedbox-network
seedbox_slskd_up_speedlimit_kib: 102400
seedbox_slskd_down_speedlimit_kib: 4096000
seedbox_external_network: "{{ seedbox_container_prefix }}-slskd-network"
