---
- name: ⬆️ Pushes script
  ansible.builtin.copy:
    src: check_for_updates.sh
    dest: "{{ check_for_updates_script_path }}"
    mode: "0555"
  become: true

- name: ⚙️ Sets up Cronjob
  ansible.builtin.include_role:
    name: cronjob
    public: true
  vars:
    cronjob_name: check for updates
    cronjob_special_time: daily
    cronjob_command: "{{ check_for_updates_script_path }}"
    cronjob_user: root
    cronjob_notification_avatar: "https://cdn.jsdelivr.net/gh/selfhst/icons/png/debian.png"
    cronjob_notification_as: apt (daily)
    cronjob_dont_notify_if: "^\\s*$"
    cronjob_always_ping: true
