(common-headers) {
	header * {
		-Server
        -X-Powered-By

		Strict-Transport-Security "max-age=31536000; include-subdomains;"
		X-XSS-Protection "1; mode=block"
		X-Frame-Options "SAMEORIGIN"`
		X-Robots-Tag "none"`
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer-when-downgrade
	}
}

(logging) {
    log {
        output file /var/log/caddy/{args[0]}-access.log
    }
}

import {{ caddy_sites }}/*