(common-headers) {
	header * {
		-Server
        -X-Powered-By

		Strict-Transport-Security "max-age=31536000; include-subdomains;"
		X-XSS-Protection "1; mode=block"
		X-Frame-Options "SAMEORIGIN"
		X-Robots-Tag "noindex,nofollow"
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer-when-downgrade
	}
}

(logging) {
    log {
        output stdout
    }
}

(forward-auth) {
    forward_auth {args[0]} {
        header_up Host {upstream_hostport}
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
}

import {{ caddy_sites }}/*
