[server]
port = {{ writefreely_port }}
bind = 127.0.0.1
templates_parent_dir = ../src
static_parent_dir = ../src
pages_parent_dir = ../src

[database]
type = mysql
username = {{ writefreely_user }}
password = {{ writefreely_db_password }}
database = {{ writefreely_database }}
host = {{ docker_gateway }}
port = {{ mariadb_port }}

[app]
site_name = catboy.house nya~
host = https://{{ writefreely_domain }}
theme = write
landing_page = /read
webfonts = true
single_user = false
min_username_len = 4
federation = true
public_stats = true
monetization = false
open_registration = true
open_deletion = true
max_blogs = 1
user_invites = user
update_checks = false
local_timeline = true
