{{ nextcloud_domain }} {
	import common-headers
    import logging {{ nextcloud_domain }}

    header * {
        X-Robots-Tag "noindex,nofollow"
    }

    redir /.well-known/carddav /remote.php/dav 301
    redir /.well-known/caldav /remote.php/dav 301
    handle_path /ds-vpath/* {
        uri strip_prefix /ds-vpath
        reverse_proxy {{ docker_gateway }}:{{ nextoffice_onlyoffice_port }} {
            header_up X-Forwarded-Host {host}/ds-vpath
        }
    }

    reverse_proxy {{ docker_gateway }}:{{ nextcloud_port }}
}
