{{ auth_lldap_domain }} {
	import caddy-common
	reverse_proxy {{ docker_gateway }}:{{ auth_lldap_port }}
}

{{ auth_authelia_domain }} {
	import caddy-common
	reverse_proxy {{ docker_gateway }}:{{ auth_authelia_port }}
}