{
    "DisableTombstones": false,
    "ServerPassword": "{{ terraria_password }}",
    "SpawnProtection": false,
    "TilePaintThreshold": 1000000,
    "MaxDamage": 1000000,
    "MaxProjDamage": 1000000,
    "TileKillThreshold": 1000000,
    "TilePlaceThreshold": 1000000,
    "TileLiquidThreshold": 1000000,
    "ProjectileThreshold": 1000000,
    "HealOtherThreshold": 1000000
}
