# See https://torsion.org/borgmatic/docs/reference/configuration/
location:
    source_directories:
        - "{{ auth_service_path }}"
        - "{{ docmost_path }}"
        - "{{ heyform_service_path }}"
        - "{{ mealie_service_path }}"
        - "{{ nextcloud_service_path }}"
        - "{{ paperless_service_path }}"
        - "{{ satisfactory_service_path }}/volumes/config/saved"
        - "{{ woodpecker_path }}"
        - "{{ writefreely_service_path }}"
    repositories:
        - "ssh://backup-server/./repo"

    numeric_ids: true
    atime: false
    ctime: true
    birthtime: false
    flags: true
    exclude_caches: true
    exclude_if_present:
        - .nobackup

hooks:
  postgresql_databases:
    - name: all
      pg_dump_command: "docker exec {{ postgres_container_name }} pg_dumpall --user {{ postgres_root_user }}"
      pg_restore_command: "docker exec {{ postgres_container_name }} pg_restore --user {{ postgres_root_user }}"
  mysql_databases:
    - name: all

storage:
    encryption_passphrase: "{{ backups_encryption_passphrase }}"
    archive_name_format: "{{ inventory_hostname }}-{now}"
    compression: lzma
    upload_rate_limit: 13000
    retries: 3
    retry_wait: 60

retention:
    keep_daily: 7
    keep_weekly: 2
    prefix: "{{ inventory_hostname }}-"
