---
- name: Services
  hosts: all
  vars:
    ansible_python_interpreter: "{{ play_venv }}/bin/pyenv"
  module_defaults:
    community.postgresql.postgresql_db:
      login_host: 10.0.0.1
      login_port: "{{ postgres_port }}"
      login_user: "{{ postgres_root_user }}"
      login_password: "{{ postgres_root_password }}"
    community.postgresql.postgresql_user:
      login_host: 10.0.0.1
      login_port: "{{ postgres_port }}"
      login_user: "{{ postgres_root_user }}"
      login_password: "{{ postgres_root_password }}"
    community.postgresql.postgresql_privs:
      login_host: 10.0.0.1
      login_port: "{{ postgres_port }}"
      login_user: "{{ postgres_root_user }}"
      login_password: "{{ postgres_root_password }}"
    community.postgresql.postgresql_owner:
      login_host: 10.0.0.1
      login_port: "{{ postgres_port }}"
      login_user: "{{ postgres_root_user }}"
      login_password: "{{ postgres_root_password }}"
    community.mysql.mysql_db:
      login_unix_socket: /run/mysqld/mysqld.sock
    community.mysql.mysql_user:
      login_unix_socket: /run/mysqld/mysqld.sock
    community.docker.docker_compose_v2:
      remove_orphans: true

  roles:
    - role: beszel
      tags: beszel

    - role: caddy
      tags: caddy

    - role: pocketid
      tags: pocketid

    - role: auth
      tags: auth

    - role: watchtower
      tags: watchtower

    - role: check_for_updates
      tags: check_for_updates

    - role: paperless
      tags: paperless

    - role: mealie
      tags: mealie

    - role: nextcloud
      tags: nextcloud

    - role: romm
      tags: romm

    - role: jellyfin
      tags: jellyfin

    - role: seedbox
      tags: seedbox

    - role: arr
      tags: arr

    - role: heyform
      tags: heyform

    - role: backups
      tags: backups

    - role: wakapi
      tags: wakapi

    - role: docmost
      tags: docmost

    - role: website
      tags: website

    - role: search
      tags: search

    - role: stirlingpdf
      tags: stirlingpdf

    - role: woodpecker
      tags: woodpecker

    - role: navidrome
      tags: navidrome

    - role: satisfactory
      tags: satisfactory

    - role: yamtrack
      tags: yamtrack

    - role: teamspeak
      tags: teamspeak

    - role: donetick
      tags: donetick

    - role: beszel
      tags: beszel
