{{ arr_sonarr_domain }} {
	import common-headers
    import logging {{ arr_sonarr_domain }}
    import forward-auth {{ docker_gateway }}:{{ auth_authelia_port }}
    reverse_proxy {{ docker_gateway }}:{{ arr_sonarr_port }}
}

{{ arr_radarr_domain }} {
	import common-headers
    import logging {{ arr_radarr_domain }}
    import forward-auth {{ docker_gateway }}:{{ auth_authelia_port }}
	reverse_proxy {{ docker_gateway }}:{{ arr_radarr_port }}
}

{{ arr_prowlarr_domain }} {
	import common-headers
    import logging {{ arr_prowlarr_domain }}
    import forward-auth {{ docker_gateway }}:{{ auth_authelia_port }}
	reverse_proxy {{ docker_gateway }}:{{ arr_prowlarr_port }}
}

{{ arr_bazarr_domain }} {
	import common-headers
    import logging {{ arr_bazarr_domain }}
    import forward-auth {{ docker_gateway }}:{{ auth_authelia_port }}
	reverse_proxy {{ docker_gateway }}:{{ arr_bazarr_port }}
}

{{ arr_jellyseerr_domain }} {
	import common-headers
    import logging {{ arr_jellyseerr_domain }}
    reverse_proxy {{ docker_gateway }}:{{ arr_jellyseerr_port }}
}

{{ arr_lidarr_domain }} {
    import common-headers
    import logging {{ arr_lidarr_domain }}
    reverse_proxy {{ docker_gateway }}:{{ arr_lidarr_port }}
}