services:
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: "{{ arr_sonarr_container_name }}"
    restart: unless-stopped
    ports:
      - "{{ docker_gateway }}:{{ arr_sonarr_port }}:8989"
    volumes:
      - "{{ arr_volume_sonarr }}:/config"
      - "{{ downloads_path }}:/downloads"
      - "{{ tv_path }}:/tv"
      - "/dev/rtc:/dev/rtc"
    environment:
      PUID: "{{ app_uid }}"
      PGID: "{{ app_gid }}"

  radarr:
    image: linuxserver/radarr:latest
    container_name: "{{ arr_radarr_container_name }}"
    restart: unless-stopped
    ports:
      - "{{ docker_gateway }}:{{ arr_radarr_port }}:7878"
    volumes:
      - "{{ arr_volume_radarr }}:/config"
      - "{{ downloads_path }}:/downloads"
      - "{{ movies_path }}:/movies"
    environment:
      PUID: "{{ app_uid }}"
      PGID: "{{ app_gid }}"

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: "{{ arr_prowlarr_container_name }}"
    depends_on:
      - sonarr
      - radarr
    restart: unless-stopped
    ports:
      - "{{ docker_gateway }}:{{ arr_prowlarr_port }}:9696"
    volumes:
      - "{{ arr_volume_prowlarr }}:/config"
    environment:
      PUID: "{{ app_uid }}"
      PGID: "{{ app_gid }}"

  bazarr:
    image: linuxserver/bazarr:latest
    container_name: "{{ arr_bazarr_container_name }}"
    depends_on:
      - sonarr
      - radarr
    restart: unless-stopped
    ports:
      - "{{ docker_gateway }}:{{ arr_bazarr_port }}:6767"
    volumes:
      - "{{ arr_volume_bazarr }}:/config"
      - "{{ movies_path }}:/movies"
      - "{{ tv_path }}:/tv"
    environment:
      PUID: "{{ app_uid }}"
      PGID: "{{ app_gid }}"
